In [1]:
import pandas as pd
import tweepy
import os

consumer_key = ""
consumer_secret = ""
access_key = ""
access_secret = ""

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [2]:
data_path = "../../TwitterEgo/data/"

In [3]:
df = pd.read_csv(data_path+"edges.csv")
df2 = pd.read_csv(data_path+"circles.csv")

In [4]:
def get_favorites(user_id):
    alltweets = []
    new_tweets = api.favorites(user_id = user_id,count=20)
    alltweets.extend(new_tweets)
    data = [[user_id,obj.id,1] for obj in alltweets ]
    dataframe = pd.DataFrame(data,columns=['user_id','tweet_id','class'])
    return dataframe

In [5]:
follower = list(set(df['follower']))
follows = list(set(df['follows']))
nId = list(set(df2['nodeID']))
fID = list(set(df2['friendID']))

In [6]:
nodes_list = list(set(follower+follows+nId+fID))

In [7]:
len(nodes_list)

27531

In [8]:
new_df = pd.DataFrame(columns=['user_id','tweet_id','class'])

In [228]:
for i in range(13200,13500):
    try:
        new_df = new_df.append(get_favorites(nodes_list[i]), ignore_index = True)
    except:
        continue

In [223]:
new_df

          user_id             tweet_id class
0        53870594   185015205342883840     1
1       221904904   898376303170158592     1
2       221904904   847519818022477824     1
3       221904904   844239843412578304     1
4       221904904   842429765218893824     1
...           ...                  ...   ...
183279   15790496  1033049288564195329     1
183280   15790496  1032346876820037637     1
183281   15790496  1002358835649052673     1
183282   15790496   998157460954386432     1
183283   15790496   996385947330777088     1

[183284 rows x 3 columns]

In [224]:
len(list(set(new_df['user_id'])))

10419

In [225]:
len(list(set(new_df['tweet_id'])))

177558

In [226]:
new_df.drop_duplicates()

          user_id             tweet_id class
0        53870594   185015205342883840     1
1       221904904   898376303170158592     1
2       221904904   847519818022477824     1
3       221904904   844239843412578304     1
4       221904904   842429765218893824     1
...           ...                  ...   ...
183279   15790496  1033049288564195329     1
183280   15790496  1032346876820037637     1
183281   15790496  1002358835649052673     1
183282   15790496   998157460954386432     1
183283   15790496   996385947330777088     1

[183284 rows x 3 columns]

In [227]:
new_df.to_csv(data_path+"reaction_sample.csv", index = False)